img {
    width: 100%;
}
.header, .child-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
}
.child {
    justify-content: start;
    margin: 0 auto;
    text-align: left;
    width: 270px;
    height: 324px;
}